.body, html {
  /* align-items: flex-start; */
  background-color: #1C39FF;
  display: block;
  padding: 38px 0;
  width: 1440px;
}

.screen1 {
  position: relative;
  margin-top: 0;
}

.screen2 {
  position: relative;
  margin-top: 1125px;
}

.screen3 {
  position: relative;
  margin-top: 1996px;
}

.h1 {
  font-family: 'Bitum';
  font-size: 389px;
  line-height: 75px;
}

.naz {
  /* bitum */
  position: absolute;
  width: 1180px;
  height: 505px;
  left: 128px;
  top: 357px;

  font-family: 'Bitum';
  font-style: normal;
  font-weight: 400;
  font-size: 389px;
  line-height: 505px;
  /* identical to box height */


  /* Blue */

  color: #1C39FF;
  z-index: 2;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 352px;
  color: #fff;
}

.wave-fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 386px;
  background-color: #FFFFFF;
 }

.h2 {
  margin-top: 30px;
  font-family: 'Bitum';
  font-size: 48px;
  line-height: 48px;
  color: #1C39FF;
}

.h3 {
  font-family: 'Bitum';
  font-weight: bold;
  font-size: 70px;
  line-height: 91px;
}

.h4 {
  font-family: 'Bitum';
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.p {
  font-family: 'Bitum';
  font-size: 20px;
  line-height: 33px;
}
.description {
  color: #FF5722;
}


.text_container {
  width: 635px;
  height: 130px;
}

.about {
  position: absolute;
  width: 635px;
  height: 130px;
  left: 165px;
  top: 100px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.ship-small {
  allign-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 194px;
  width: 525px;
}

.first-tier-small {
  width: 365px;
  height: 45px;
  left: 184px;
  top: 168px;
  align-items: center;
  background-color: white;
  display: flex;
  height: 45px;
}

.window-small {
  background-color: #1C39FF;
  height: 25px;
  width: 25px;
}

/* нижний ярус маленького корабля */
.second-tier-small {
  align-items: center;
  background-color: white;
  display: flex;
  height: 45px;
  width: 365px;
  height: 45px;
  left: 184px;
  top: 218px;
}

.line-left {
  position: absolute;
  width: 530px;
  height: 0px;
  left: 0px;
  top: 349px;
  border: 10px solid #FFFFFF;
}

.line-right {
  position: absolute;
  width: 530px;
  height: 0px;
  left: 910px;
  top: 349px;
  /* White */
  border: 10px solid #FFFFFF;
}

.frame {
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 103px;
  left: 528px;
  top: 293px;
  border: 10px solid #FFFFFF;
}


.ticket {
  position: absolute;
  width: 1110px;
  height: 347px;
  left: 165px;
  top: 458px;
  background: #fff;
}
.number {
  /* 2018 */
  position: absolute;
  width: 151px;
  height: 91px;
  left: 30px;
  top: 30px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 91px;
  color: #1C39FF;
}
.designers {
  /* Дизайнеры Гаянэ Багдасарян и Вячеслав Кириленко */
  position: absolute;
  width: 350px;
  height: 52px;
  left: 475px;
  top: 54px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1C39FF;
}

.year {
  /* год */
position: absolute;
width: 37px;
height: 26px;
left: 30px;
top: 121px;
font-family: 'Bitum';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #1C39FF;
}

.description {
  /* Новаторский гротеск со стилистическими альтеративами */
  position: absolute;
  width: 795px;
  height: 104px;
  left: 30px;
  top: 167px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #FF5722;
}

.nachert {
  /* 6 начертаний */
  position: absolute;
  width: 142px;
  height: 26px;
  left: 938px;
  top: 291px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1C39FF;
}

.inspire {
  /* вдохновлен швейцарской типографикой */
  position: absolute;
  width: 431px;
  height: 26px;
  left: 30px;
  top: 291px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1C39FF;
}

.qr {
  position: absolute;
  right: 30px;
  top: 30px;
}

.addition {
  position: relative;
}

.plus1 {
  /* Острый овал от гротеска берлинских уличных указателей */
  position: absolute;
  width: 349px;
  height: 52px;
  left: 165px;
  top: 54px;
  font-family: 'Bitum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.signboard {
  /* Border */
  box-sizing: border-box;
  position: absolute;
  width: 1110px;
  height: 835px;
  left: 165px;
  top: 298px;
  /* White */
  border: 10px solid #FFFFFF;
}

.numbers{
  background-color: #FED700;
}

.accent {
  background-color: #FED700;
}

.book {
  background-color: #1C39FF;
  width: 595px;
  height: 842px;
  position: relative;
  margin-left: 680px;
}
