.body, html {
  /* align-items: flex-start; */
  background-color: #1C39FF;
  display: block;
  padding: 38px 0;
  width: 1440px;
}

.screen {
  position: relative;
}

.h1 {
  margin-top: 42px;
  font-family: 'Bitum';
  font-size: 76px;
  line-height: 75px;
  color: #0344A5;
}

.h2 {
  margin-top: 30px;
  font-family: 'Bitum';
  font-size: 48px;
  line-height: 48px;
  color: #1C39FF;
}

.h3 {
  font-family: 'Bitum';
  font-weight: bold;
  font-size: 70px;
  line-height: 91px;
}

h4 {
  font-family: 'Bitum';
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.p {
  font-family: 'Bitum';
  font-size: 20px;
  line-height: 33px;
  text-align: justify;
}
.description {
  color: #FF5722;
}

.ship-small {
  allign-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 194px;
  width: 525px;
}

.first-tier-small {
  width: 365px;
  height: 45px;
  position: absolute;
  left: 184px;
  top: 168px;
}

.second-tier-small {
  width: 365px;
  height: 45px;
  position: absolute;
  left: 184px;
  top: 218px;  
}

.window-small {
  background-color: #1C39FF;
  height: 25px;
  width: 25px;
}

/* нижний ярус маленького корабля */
.second-tier {
  align-items: center;
  background-color: white;
  display: flex;
  height: 45px;
  margin-left: 19px;
  min-width: 405px;
  padding: 0 10px;
}
/* окошки нижний ярус мал корабль */
/* .group-211 {
  height: 25px;
  width: 358px;
} */

.ticket {
  position: relative;
  top: 165px;
  left: 165px;
  background-color: #fff;
}
.number {
  position: absolute;
  left: 30px;
  top: 30px;
}
.designers {
  position: absolute;
  left: 54px;
  top: 475px;
}

.year {
  position: absolute;
  top: 30px;
  left: 30px;
}

.qr {
  position: absolute;
  right: 30px;
  top: 30px;
}

.signboard {
  height: 1165px;
  margin-top: 101px;
  position: relative;
  width: 1442px;
}

.numbers{
  background-color: #FED700;
}

.accent {
  background-color: #FED700;
}

.book {
  background-color: #1C39FF;
  width: 595px;
  height: 842px;
  position: relative;
  margin-left: 680px;
}
