@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum.ttf');
  src: local('Bitum'), local('Bitum-Trial'),
  url('../fonts/Bitum.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-Italic.ttf');
  src: local('Bitum'), local('Bitum-Trial'),
  url('../fonts/Bitum-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-Bold.ttf');
  src: local('Bitum'), local('Bitum-Trial'),
  url('../fonts/Bitum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-BoldItalic.ttf');
  src: local('Bitum'), local('Bitum-Trial'),
  url('../fonts/Bitum-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-Light.ttf');
  src: local('Bitum'), local('Bitum-Trial'),
  url('../fonts/Bitum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-LightItalic.ttf');
  src: local('Bitum'), local('Bitum-Trial'),
  url('../fonts/Bitum-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
